.wrapper {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar"
                       "content";
    width: 100%; /* unnecessary, but let's keep things consistent */
}

@media screen and (min-width: 900px) {
    .wrapper {
        grid-template-columns: 0 5fr;
        grid-template-rows: 1fr;
        grid-template-areas: "sidebar content";
    }
}

.calendar__main {
  font-weight: 90;
  color: black;
  grid-area: content;
}

.calendar .selected {
    background-color: #ebc91d;
}
.calendar .selected div {
    font-weight: bold;
}
.calendar__week,
.calendar__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar__week {
    grid-auto-rows: 120px;
    text-align: right;
}

.calendar__header {
    grid-auto-rows: 50px;
    align-items: center;
    text-align: center;
}

.calendar__day {
    padding: 14px;
}

.calendar {
    background-color: white;
    border: 1px solid #ffffff;
}

.calendar__header > div {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

.calendar__day {
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}

.calendar__day:last-child {
    border-right: 0;
}
